::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

::-webkit-scrollbar-button:vertical {
    display: none
}

::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
    background-color: #e2e2e2
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.3)
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0,0,0,.35)
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0,0,0,.38)
}